<div class="header">
  <h1>Welcome to Toot</h1>
  <div class="user-header">
    <%= link_to "Profile", current_user %>
    <% if !logged_in? %>
      <%= link_to 'Create new account', sign_up_path %> or <%= link_to 'Sign in', log_in_path %>
    <% else%>
      <%= link_to 'Logout', log_out_path, method: :delete %>
    <% end %>
  </div>
</div>
<div class="main-container">
    <div class="create-toot">
      <% if logged_in? %>
        <span>Create a Toot!</span>
        <%= render 'shared/toot_form' %>
      <% end %>
    </div>
    <div class="toots-container">
      <h3>Talk about the things that are important to you.</h3>
      <p>All Toots</p>
      <%= render 'shared/feed' %>
    </div>
</div>
<div class="footer">
</div>
