<div id="toot-header">
  <p id="header-title">Toot</p>
  <div class="user-header">
    <%= link_to "Profile", current_user %>
    <% if !logged_in? %>
      <%= link_to 'Create new account', sign_up_path %> or <%= link_to 'Sign in', log_in_path %>
    <% else%>
      <%= link_to 'Logout', log_out_path, method: :delete %>
    <% end %>
  </div>
</div>
<p id="toot-body"><%= @toot.body %></p>
<p id="toot-author">Author: <%= @toot.user.username %></p>
<%= render 'comments/comment_form' %>
<div class="comments">
  <p id="toot-comment">Comments:</p>
  <%= render @comments %>
</div>
<%= link_to "Home", root_url %>
