<div class="header-user">
  <h1><%= @user.username %></h1>
  <div class="profile-links">
    <!-- <%= link_to "Edit profile", edit_user_path(@user) %> -->
    <%= link_to 'Home', root_url %>
    <%= link_to 'Logout', log_out_path, method: :delete %>
  </div>
</div>
<div>
  <ul class="user-info">
    <li><%= @user.email %></li>
    <li><%= @user.name %></li>
    <li>Toot count: <%= @user.toots.count %></li>
  </ul>
  <section class="counts">
    <%= render 'shared/follow_counts' %>
    <%= render 'follow_form' if logged_in? %>
  </section>
</div>
<div class="user-toots">
  <% if @user.toots.any? %>
    <h3>Toots</h3>
      <ol>
        <%= render @toots %>
      </ol>
    <%= will_paginate @toots %>
  <% end %>
</div>
